body{
    background-color:lightblue;
}

img{
    width: 100px;
    height: 100px;
}

.Characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Character {
    width: 30%; /* Establece el ancho de cada personaje para ocupar aproximadamente el 30% del contenedor */
    margin-bottom: 20px; /* Agrega un margen inferior para separar los bloques */
    text-align: center; /* Centra el contenido dentro de cada bloque */
    border: 1px solid #ccc; /* Agrega un borde para mayor claridad */
    padding: 10px; /* Añade un poco de espacio interno */
}
